@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.header-class {
  display: flex;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  background-color: red;
  height: 80px;
  justify-content: center;
  border: ridge 2px black;
  align-items: center;
  margin-bottom: 10px;
}
.poke-cnt > form {
  justify-self: center;
  
}
* {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}
body {
  background-color: lavender;
}

.search-box {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.search-box > * {
  padding-left: 25px;
   width: fit-content;
   height: fit-content;

}

.pokemon-neem {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  font-size: 1rem;
  position: fixed;
  top: 5px;
  left: 5px;
}
.poke-mon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 95vw;
  height: fit-content;
  list-style: none;
  grid-gap: 5px;
  margin: 0;
}
.pokemon {
  width: fit-content;
  height: fit-content;
  max-width: 75%;
  border: ridge 1px black;
  justify-self: center;
  margin: 5px;
  background-color: ivory;
  align-items: center;
  padding: 15px;
  
}
.pokemon-deets {
  margin: 1px 5px 1px 5px;
  background-color: white;
  border: ridge 1px black;
  padding: 5px;
  font-weight: bold;
  height: fit-content;
  
}
.poke-pic {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-left: 12px;
  
}
.load-ing {
  position: fixed;
  top: 50%;
  margin-left: 40%;
  border-radius: 50%;
  animation: rotation 400ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 999px) {
  .poke-mon  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  .pokemon {
    max-width: 25%;
  }
  .search-box {
  width: fit-content;
  font-size: 50%;
  }
  form > input {
    width: 50%;
  }
  .pokemon-deets {
    font-size: 65%;
    overflow: hidden;
  }
  .pokemon-neem {
    font-size: 75%;
    width: fit-content;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}