.poke-mon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: fit-content;
  list-style: none;
  grid-gap: 5px;
}
.pokemon {
  width: 200px;
  height: fit-content;
  border: ridge 1px black;
  
}
.poke-pic {
  width: 150px;
  height: auto;
  
}